* {
    margin: 0;
    padding: 0;
    outline: 0;
}

body {
    height: 100vh;
    padding: 20px;
    overflow: hidden;
}

.wrap {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#campo {
    background: url('../imgs/campo.jpg');
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    min-width: 60%;
}

#jugadores {
    min-width: 30%;
    height: 100%;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    padding: 10px;
    overflow: scroll;
}

.nombreEquipo {
    border-bottom: 1px solid black;
    border-radius: 30px;
}
.nombreEquipo h1 {
    text-align: center;
}

.jugador {
    border-radius: 20px;
    border: 1px solid black;
    display: flex;
    padding: 3px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 8px;
}

.selectTeam {
    position: absolute;
    left: 30%;
    top: 5%;
    transform: translate(-30%, -5%);
}

.mensaje {
    text-align: center;
}

.cuadrao {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 30%;
    top: 50%;
    background: blue;
}